.cart-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.cart-items-container {
  width: 65%;
}

.summary-container {
  width: 30%;

  background-image: linear-gradient(to left, #ffffff 0%, #53346d 300%);
}

.summary-item {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid gray;
  padding: 5px;
}

.summary-item .title {
  width: 25%;
  height: 80%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.summary-item .price {
  width: 7%;
}

.summary-item .image-container {
  height: 80%;
  width: 10%;
  overflow: hidden;

  display: flex;

  align-content: center;
  justify-content: center;
}
.summary-item .image {
  max-height: 100%;
}

.summary-item .quantity {
  width: 70px;

  display: flex;
  justify-content: space-between;
}

.summary-item .icon {
  cursor: pointer;
  font-size: 15px;
}
.summary-item .input-quantity {
  width: 20px;
  border: 0.2px solid #cccccc;
  border-radius: 3px;
  text-align: center;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.summary-item .focus::input-quantity {
  width: 55px;
  border: 0.2px solid red;
  text-align: center;
}

.summary-text {
  padding: 30px;
  font-size: 1.3rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.proceed-button {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #53346d 51%,
    #000000 100%
  );
  padding: 10px 10px;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 7px;
}

.proceed-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 1920px) {
  .home {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 769px) {
  ul {
    padding: 0;
  }
  .cart-home {
    flex-direction: column;
  }
  .cart-items-container {
    width: 100vw;
  }
  .summary-item {
    height: fit-content;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.5px solid #dddddd;
    padding: 10px;
  }
  .summary-container {
    width: 100vw;
  }

  .summary-item .image-container {
    width: 25vw;
    height: 20vw;
  }
  .summary-item .image {
    object-fit: cover;
  }

  .summary-item .title {
    width: 55vw;
    font-size: clamp(13px, 4vw, 23px);
  }
  .summary-item .price {
    width: 15vw;
    font-size: clamp(13px, 4vw, 23px);
    font-weight: 600;
  }

  .summary-item .quantity {
    width: 20vw;

    display: flex;
    justify-content: space-between;
  }

  .summary-item .icon {
    font-size: clamp(13px, 5vw, 23px);
  }
  .summary-item .input-quantity {
    width: 8vw;
    border: 0.2px solid #cccccc;
    border-radius: 3px;
    text-align: center;
    margin: 0;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .summary-item .focus::input-quantity {
    width: 55px;
    border: 0.1px solid rgb(0, 0, 0);
    text-align: center;
  }

  .summary-text {
    padding: 30px;
    font-size: 1.3rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


@media only screen and (min-width: 1920px) {
  .cart-home {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}