.cart-icon {
  width: 80px;
}

.dropdown-cart-button {
  display: flex;

  position: relative;
}

.dropdown-cart-icons {
  width: 90px;
  cursor: pointer;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.dropdown-cart-icons span {
  margin-right: 13px;
}

.dropdown-content {
  position: absolute;
  right: 0px;
  top: 40px;
  display: block;
  background-color: #f9f9f9;
  color: black;
  width: fit-content;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
}

.cart-item {
  width: 450px;
  height: 100px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
  border-bottom: 0.5px solid #cccccc;
}

.cart-item-image-box {
  height: 90%;
  width: 100px;
  overflow: hidden;

  display: flex;
  align-content: center;
  justify-content: center;
}

.cart-item-detail {
  height: 90%;
  width: 300px;
  margin-right: 30px;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-item-title {
  height: 20px;
  overflow: hidden;
}
.cart-item-price {
  font-weight: 500;
  font-size: 1.1em;
  margin: 15px 0px 8px 0px;
}
.cart-item-image {
  max-height: 100%;
  max-width: 100%;
}

.cart-item-remove {
  cursor: pointer;
}

.go-to-cart {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #53346d 51%,
    #000000 100%
  );
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-size: 1rem;
  border-radius: 7px;
}

@media only screen and (max-width: 769px) {
  .quantity-number {
    display: none;
  }

  .down-icon {
    display: none;
  }
  .dropdown-cart-icons {
    width: 30px;
    cursor: pointer;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
